header {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding-top: 20px;
    padding-right: 300px;
    padding-bottom: 0px;
    padding-left: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

label {
    display: block; /* 标签单独一行显示 */
    margin-bottom: 5px; /* 标签与输入框之间的间距 */
}

button {
    margin: 2px 2px; /* 按钮左右外边距 */
}

.date-navigation-card {
    border-radius: 8px; /* 圆角 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    padding: 10px; /* 内边距 */
    margin: 20px auto; /* 上下外边距，左右自动 */
    width:100%;
    display:flex;
    justify-content:space-between;
}


#prev-date, #next-date {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#current-date {
    margin: 0 20px;
    font-size: 18px;
}

/* 弹窗样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

.button-container {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content:space-between;
}



.form-group {
    margin-bottom: 15px; /* 每个表单组之间的间距 */
}

.calorie-statistics {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        appearance: textfield;
    }
    inpit {
        border: none
    }    
}


/* Meal cards */

.meal-cards-container {
    max-height: 1000px; /* 根据需要调整高度 */
    overflow-y: auto; /* 当内容超出容器时，显示纵向滚动条 */
    flex: 2; 
    display: flex;
}

.meal-cards {
    width: 92%; /* 或根据需要调整宽度 */
    display: flex;
    flex-direction: column; /* 纵向排列卡片 */
}

.meal-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-item {
    display: flex;
    align-items: center;
}

/* 左边图片样式 */
.meal-image img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
    margin-right: 15px;
}

/* 中间显示名字和评论 */
.meal-details {
    flex-grow: 1;  
}

.meal-name {
    font-weight: bold;
}

.meal-comment {
    
    color: #555;
}

/* 右边显示卡路里 */
.meal-calories {
    font-size: 1.1em;
    font-weight: bold;
    color: #f77;  
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.add-btn {
    background-color: #36A2EB; /* 按钮颜色 */
    color: white; /* 按钮字体颜色 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角按钮 */
    padding: 5px 10px; /* 按钮内边距 */
    font-size: 0.8em; /* 按钮字体大小 */
    cursor: pointer; /* 鼠标悬停时指针样式 */
}

.add-btn:hover {
    background-color: #2980b9; /* 悬停时的按钮颜色 */
}

.delete-btn {
    background-color: #e74c3c; /* 删除按钮颜色 */
    color: white; /* 字体颜色 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角按钮 */
    padding: 5px 10px; /* 内边距 */
    font-size: 0.8em; /* 字体大小 */
    cursor: pointer; /* 鼠标悬停时指针样式 */
    height:22.88px;
}

.delete-btn:hover {
    background-color: #bd2919; /* 悬停时的按钮颜色 */
}

.toggle-delete-btn {
    background-color: #f39c12; /* 切换按钮颜色 */
    color: white; /* 字体颜色 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角按钮 */
    padding: 5px 10px; /* 内边距 */
    font-size: 0.8em; /* 字体大小 */
    cursor: pointer; /* 鼠标悬停时指针样式 */
}
.toggle-delete-btn:hover {
    background-color: #a16402; /* 悬停时的按钮颜色 */
}

.calorie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.calorie-circle-wrapper {
    position: relative;
}

#calorieCircle {
    max-width: 200px;
    max-height: 500px;
}

.calorie-text {
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 完全居中 */
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 100%; /* 使输入框和文本区域占满宽度 */
    padding: 10px; /* 内边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 5px; /* 圆角 */
}


.submit-btn,
.cancel-btn {
    background-color: #3498db; /* 按钮颜色 */
    color: white; /* 字体颜色 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角按钮 */
    padding: 10px 15px; /* 内边距 */
    cursor: pointer; /* 鼠标悬停时指针样式 */
    font-size: 1em; /* 字体大小 */
}

.submit-btn:hover,
.cancel-btn:hover {
    background-color: #2980b9; /* 悬停时的按钮颜色 */
}


.input-group {
    display: flex;
    border:rgb(207, 198, 198) solid 0.5px;
    flex-direction: column;
    padding: 10px;
    margin-right: 60px;
    margin-left:60px;
    margin-top:20px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

}

.calendar-container
{
    display: flex;
    border:rgb(207, 198, 198) solid 0.5px;
    flex-direction: column;
    padding:10px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
  

input[type="number"] {
    padding: 5px;             /* 添加一点内边距 */
    outline: none;            /* 去掉点击时的默认外框 */
    width: 100px;             /* 设置输入框的宽度 */
    font-size: 16px;          /* 调整字体大小 */ 
}


.calorie-option {
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom: 10px;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
    float:none;
}

.fc{
    text-align:center;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    z-index: 1000;
    font-size: 14px;
    white-space: nowrap; /* 防止文本换行 */
}

.tooltip.green {
    background-color: #28a745; /* 绿色 */
}

.tooltip.red {
    background-color: #dc3545; /* 红色 */
}

.tooltip.yellow {
    background-color: #ffc107; /* 黄色 */
}

.pagination{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        appearance: textfield;
    }
    inpit {
        border: none
    }   
} 

