{% extends 'base.html' %}

{% block title %}Forum_post{% endblock %}

{% block masthead %}{% endblock %}

{% block content %}
{% load static %}
{% load custom_filters %}
{% load markdown_extras %}
<div class="ui middle stackable center grid wide container" style="margin-top:50px;">
    <div class="sixteen wide mobile three wided tablet three wide computer column ">
        <div class="ui left text vertical secondary main hidden_menu menu" style="margin-top:0px;">
            <div class="item">
                <div class="ui scrolling search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search posts...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            {% for forum in forums %}
            <a class="item" href="{% url 'forum_post' forum.id %}">
                {% if forum.icon %}
                <img class="ui avatar image" src="{{ forum.icon.url }}" alt="{{ forum.name }}"
                    style="margin-right: 12px;" />
                {% else %}
                {% endif %}
                <span>{{ forum.name }}</span>
                <a />
                {% endfor %}
                <div class="ui inverted fitted divider"></div>
                <a class="item" href="{% url 'group_post_list' %}">
                    <i class="glass cheers large icon" style="margin-right: 12px;"></i>
                    <span>
                        食伴聚会
                    </span>
                </a>
        </div>
    </div>
    <div class="sixteen wide mobile ten wided tablet ten wide computer column ">
        <div class="ui segment"
            style="margin-bottom:40px;padding-top:60px;padding-bottom:60px;padding-left: 50px;padding-right: 50px;">
            <div class="ui main text container">
                <h1 class="ui center aligned header">{{ group_post.title }}</h1>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui horizontal list" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="item">
                    {% if participant.profile.avatar %}
                    <img src="{{ participant.profile.avatar.url }}" alt="{{ participant.username }}"
                        class="ui circular avatar bordered image" style="filter: invert(0);">
                    {% else %}
                    <img src="{% static 'img/avatar/' %}{{ ''|random_avatar }}" alt="默认头像"
                        class="ui circular avatar bordered image" style="filter: invert(0);">
                    {% endif %}
                    <div class="content">
                        <div class="ui sub header">@ {{ group_post.sponser }}</div>
                        created at at {{ group_post.create_at|time_ago }}
                    </div>
                </div>
                {% if current_user == group_post.sponser %}
                <div class="item" style="align-items:right;">
                    <a style="color:gray;" href="{% url 'edit_group_post' group_post.id %}"><i class="edit large icon"></i></a>
                    <a href="" class="delete-button" style="color:gray;" data-id="{{ group_post.id }}"
                        style="color:gray;"><i class="trash alternate large icon"></i></a>
                </div>
                <!-- modal -->
                <div class="ui basic modal" id="deleteModal">
                    <div class="header">Confirm Deletion</div>
                    <div class="content">
                        <p>Are you sure you want to delete this post?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> No</div>
                        <div class="ui green basic ok inverted button"><i class="checkmark icon"></i>Yes</div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="ui hidden divider"></div>
            <div class="description">
                {% if group_post.participants.count < group_post.min_participants %} <div class="ui negative message">
                    <div class="header">
                        Not yet met the requirements.
                    </div>
            </div>
            {% else %}
            <div class="ui positive message">
                <div class="header">
                    Already meets the requirements.
                </div>
            </div>
            {% endif %}
            {% if current_time > group_post.target_time %}
            <div class="ui warning message">
                <div class="header">
                    This post is no longer valid.
                </div>
                Please look for other group activity posts, as the scheduled time for this post has passed.
            </div>
            {% endif %}
            <div class="content">
                {% if group_post.content %}
                {{ content|safe }}
                {% endif %}
            </div>
            <div class="ui divider hidden"></div>
            <div class="ui three cards stackable">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="center aligned header">
                            scheduled time
                        </div>
                        <div class="center aligned description">
                            {{ group_post.target_time }}
                        </div>
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="center aligned header">
                            destination
                        </div>
                        <div class="center aligned description">
                            {{ group_post.address }}
                        </div>
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="center aligned header">
                            Current situation
                        </div>
                        <div class="center aligned description">
                            {{ group_post.participants.count }}/{{ group_post.max_participants }}<br /> ({{group_post.min_participants }} &nbsp; Required)
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui hidden section divider"></div>
        <div class="ui extra content">
            <div class="content" style="text-align: center ;">
                <button
                    class="ui basic brown large button {% if current_time > group_post.target_time %}disabled{% endif %}" style="display:{% if group_post.sponser == current_user %}none{% else %}block{% endif %};"
                    id="join_button">Join</button>
            </div>
            <h4 class="ui horizontal left aligned section divider header">
                Current joined user
            </h4>
            <div class="ui horizontal list">
                {% for participant in group_post.participants.all %}
                <div class="item with_popup" data-title="{{ participant.username }}"
                    data-content="{{ participant.email }}" data-position="bottom left">
                    {% if participant.profile.avatar %}
                    <img src="{{ participant.profile.avatar.url }}" alt="{{ participant.username }}"
                        class="ui avatar bordered image" style="filter: invert(0);">
                    {% else %}
                    <img src="{% static 'img/avatar/' %}{{ ''|random_avatar }}" alt="默认头像"
                        class="ui avatar bordered image" style="filter: invert(0);">
                    {% endif %}
                    <div class="content">
                        <div class="header">{{ participant.username }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="sixteen wide mobile two wided tablet three wide computer column">
    <div class="ui fluid card">
        <div class="content">
            <div class="center aligned">
                {% if participant.profile.avatar %}
                <img src="{{ participant.profile.avatar.url }}" alt="{{ participant.username }}"
                    class="ui circular small bordered imaged" style="filter: invert(0);">
                {% else %}
                <img src="{% static 'img/avatar/' %}{{ ''|random_avatar }}" alt="默认头像"
                    class="ui circular small bordered imaged" style="filter: invert(0);">
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="header">{{ group_post.sponser.username}}</div>
            <div class="meta">
                <a>@ {% if post.author.is_staff %} Administrator {% else %} User {% endif %}</a>
            </div>
            <div class="description">
                <a href="mailto:{{ post.author.email }}" style="color: grey;">
                    <i class="envelope outline icon"></i>
                    {{ group_post.sponser.email }}
                </a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                Joined in {{ group_post.sponser.date_joined|date:"Y-m-d" }}
            </span>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    });

    const apiUrl = "{% url 'search-post' %}?q={query}";

    $(document)
        .ready(function () {
            $('.main.menu').visibility({
                type: 'fixed',

            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 60) {
                    $('.main.menu').css('margin-top', '70px');
                } else {
                    $('.main.menu').css('margin-top', '0px');
                }
            });
            $('.with_popup')
                .popup()
                ;
            let postId;
            $('.delete-button').on('click', function (e) {
                e.preventDefault();
                postId = $(this).data('id'); 
                $('#deleteModal').modal('show');
            });
            $('#deleteModal .ok.button').on('click', function () {
                $.ajax({
                    url: `/forum/group_post/delete/${postId}/`,
                    type: 'DELETE',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    success: function (response) {
                        localStorage.setItem('postDeleted', 'true');
                        window.location.href = '/forum/1/';

                    },
                    error: function (xhr, status, error) {
                        console.error('Fail to delete error:', error);
                        alert('Fail to delete the post.Please try it later');
                    }
                });
            });
            $('.ui.search')
                .search({
                    preserveHTML: false,
                    type: 'category',
                    minCharacters: 1,
                    showNoResults: true,
                    apiSettings: {
                        url: apiUrl,
                        onResponse: function (apiResponse) {
                            var response = {
                                results: {}
                            };

                            var groupCategory = '食伴聚会';

                            $.each(apiResponse.group_posts, function (index, item) {
                                if (response.results[groupCategory] === undefined) {
                                    response.results[groupCategory] = {
                                        name: groupCategory,
                                        results: []
                                    };
                                }
                                response.results[groupCategory].results.push({
                                    title: item.title,
                                    description: item.sponser_name,
                                    url: "/forum/group_post/" + item.id,
                                });
                            });

                            $.each(apiResponse.posts, function (index, item) {
                                var forumName = item.forum_name;

                                if (response.results[forumName] === undefined) {
                                    response.results[forumName] = {
                                        name: forumName,
                                        results: []
                                    };
                                }

                                response.results[forumName].results.push({
                                    title: item.title,
                                    description: item.author_name,
                                    url: "/forum/post/" + item.id,
                                });
                            });
                            return response;
                        }

                    },
                })
                ;
        })
        ;
    document.getElementById("join_button").addEventListener("click", function () {
        fetch("{% url 'join_group' group_post.id %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
                "Content-Type": "application/json"
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    $('body').toast({
                        title: 'Request created successfully',
                        message: 'Please wait for the initiator\'s review.',
                        class: 'success',
                        closeIcon: true,
                        className: {
                            toast: 'ui message'
                        }
                    })
                        ;
                } else if (data.status === 'error') {
                    if (data.message) {
                        $('body').toast({
                            message: data.message,
                            class: 'error',
                            closeIcon: true,
                            className: {
                                toast: 'ui message'
                            }
                        })
                            ;
                    }
                    else {
                        $('body').toast({
                            message: 'Joining the group failed, please try again later.',
                            class: 'error',
                            closeIcon: true,
                            className: {
                                toast: 'ui message'
                            }
                        })
                            ;
                    }
                }
            })
            .catch(error => {
                console.error("Request error", error);
                $('body').toast({
                    message: 'There is a problem with the request, please try again later.',
                    class: 'error',
                    closeIcon: true,
                    className: {
                        toast: 'ui message'
                    }
                })
                    ;
            });
    });
</script>
{% endblock %}